* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html {
  --bg-layout-top-grow-percentage: 1;

  @media (width > 450px) {
    --bg-layout-top-grow-percentage: 1.25;
  }

  @media (width > 650px) {
    --bg-layout-top-grow-percentage: 1.5;
  }
}

body {
  font-family: Space Grotesk, sans-serif;
  min-inline-size: 360px;
}

.layout-bg {
  display: grid;
  grid-template-rows: calc(215px * var(--bg-layout-top-grow-percentage)) calc(
      215px * var(--bg-layout-top-grow-percentage)
    );

  @media (width > 1000px) {
    grid-template-rows: none;
    grid-template-columns: 0.4fr 1fr;
    block-size: 100dvh;
    block-size: 100vh;
  }
}

.layout-bg__top {
  position: relative;
  background-color: rgb(43, 0, 100);
  background-image: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layout-bg__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-preview {
  position: absolute;
  inline-size: calc(360px * var(--bg-layout-top-grow-percentage));
  block-size: 100%;
  inset: 0;
  margin: auto;
}

.card-front,
.card-back {
  position: absolute;
  color: #fff;
  max-inline-size: min-content;
}

.card-front > *:not(.card-front__bg),
.card-back > *:not(.card-back__bg) {
  position: absolute;
}

.card-front__bg,
.card-back__bg {
  width: calc(250px * var(--bg-layout-top-grow-percentage));
}

.card-front__logo {
  top: 30px;
  left: 30px;
}

.card-front__number {
  top: 55%;
  left: 30px;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
}

.card-front__name {
  top: 80%;
  left: 30px;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.card-front__expiry {
  top: 80%;
  right: 30px;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.card-back__cvc {
  top: 45%;
  right: 60px;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.card-front {
  bottom: -15%;
  left: 8.5%;
  z-index: 2;
}

.card-back {
  top: 15%;
  right: 8.5%;
  z-index: 1;
}
